# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,

haloerp/accounts/               @ruthra-kumar
haloerp/assets/                 @khushi8112
haloerp/regional                @ruthra-kumar
haloerp/selling                 @ruthra-kumar
banking/                        @nikkothari22

haloerp/buying/                 @rohitwaghchaure @mihir-kandoi
haloerp/maintenance/            @rohitwaghchaure @mihir-kandoi
haloerp/manufacturing/          @rohitwaghchaure @mihir-kandoi
haloerp/quality_management/     @rohitwaghchaure @mihir-kandoi
haloerp/stock/                  @rohitwaghchaure @mihir-kandoi
haloerp/subcontracting/         @mihir-kandoi
haloerp/projects/               @nishkagosalia

haloerp/controllers/            @ruthra-kumar @rohitwaghchaure @mihir-kandoi
haloerp/patches/                @ruthra-kumar @rohitwaghchaure @mihir-kandoi

.github/                        @ruthra-kumar @mihir-kandoi
pyproject.toml                  @ruthra-kumar
